# DB
DB_USER="not-so-top-secret-username"
DB_PASSWORD="very-top-secret-password"
DB_NAME="bot_database" # <- Can be whatever, so long as it's a valid database name.
DB_NETWORK="127.0.0.1" # <- Keep as localhost if you don't have it externally or don't user docker.
DB_PORT=5432           # <- Default for PostgreSQL.

DATABASE_URL="postgres://${DB_USER}:${DB_PASSWORD}@${DB_NETWORK}:${DB_PORT}/${DB_NAME}"

# AI (Optional)
AI_MODEL="qwen2.5:1.5b"                            # <- Example model, check: `https://huggingface.co/models` for more.
AI_CHAT_ENDPOINT="http://localhost:11434/api/chat" # <- Ollama default.

# Token
BOT_TOKEN="very-top-secret-token" # <- Check: `https://discord.com/developers/applications`.
